* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body {

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
}

.container {
    text-align: center;
    width: 97%;
    background: url("nordwood-themes-KcsKWw77Ovw-unsplash.jpg");
    height: 97%;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;

}

.logo {
    width: 50%;
    margin-bottom: 17%;

}

h1 {

    font-size: 3rem;
}

p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 17%;

}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 7%;



}

.social-icons img {

    cursor: pointer;
    transition: transform 0.3s ease;

}

.social-icons img:hover {

    cursor: pointer;
    transform: translateY(-10px);
    transition: transform 0.3s ease;

}