---
import { Image } from "astro:assets";
import sider from "@/assets/sider.svg";
import sidel from "@/assets/sidel.svg";

---


<div class="w-full  px-5 md:hidden  ">
  
    <h1 class="font-poppins text-[60px] font-[700] leading-[55px] text-left "> Your Trusted GUIDE  </h1>
    <h1 class="mt-4   font-poppins text-[45px] font-bold leading-[28.8px] text-left text-primary ">to Global Education</h1>
    <p class="mt-4  font-poppins text-[17px] font-[400] leading-[20px] text-justify text-[#536288]">We believe that education opens doors to a world of possibilities, and our mission is to support students in making informed decisions.</p>

</div>

<div class="flex w-full  h-[40vh] mb-10">
  <div class="w-[20%] h-full flex items-center justify-start">
    <div class="flex justify-start">
      <Image src={sidel} alt="Pattern 6" class="md:w-[40%] h-[40%]" />
    </div>
  </div>
  <div class="w-[60%] h-full ">
    <div class="aboutus_text text-[#0F2F64] text-[40px] font-medium leading-[48px] text-center flex items-center justify-center h-full animate-up delay-[2s]">
      <h>We Guarantee the <span class="text-primary ">Best Service</span> </h>
    </div>
  </div>
  <div class="w-[20%] h-full  flex items-center justify-end">
    <Image src={sider} alt="Pattern 6" / class=" md:w-[50%] h-[40%]">
    </div>
</div>
