---
import { Image } from "astro:assets";
import sider from "@/assets/sider.svg";
import sidel from "@/assets/sidel.svg";

---
<div class="about_us w-full h-[50vh] flex justify-between" id="about">
  <div class="shape1 w-[10%] h-full flex animate-up delay-[2s]">
    <Image src={sidel} alt="Pattern 6" / class="w-full">
    </div>
  <div class="aboutus_text text-[#0F2F64] text-[40px] font-medium leading-[48px] text-center flex items-center justify-center h-full animate-up delay-[2s]">
    <h>We Guarantee the <span>Best Service</span> </h>
  </div>
  <div class="shape2 w-[10%] h-full flex animate-up delay-[2s]">
    <Image src={sider} alt="Pattern 6" / class="w-full">
    
  </div>
</div>


<div class="mb_herotexts w-full mt-[5%] p-[10px] block">
  <h1 class="text-[40px] leading-[38.4px] font-bold mb-[3%]">Your Trusted GUIDE </h1>
  <h3 class="text-[30px] font-bold leading-[28.8px] text-primary ">to Global Education</h3>
  <p class="text-[12px] text-[rgb(77,77,77)] ml-0 font-normal leading-[19.2px]">We believe that education opens doors to a world of possibilities, and our mission is to support students in
      making informed decisions.</p>
</div>

<div class="mb_box w-full h-[40vh] flex justify-center items-center " id="mb_about">
  <div class="lside w-[20%] flex">
      <Image src={sidel} alt="Pattern 6" class="w-full" />
  </div>
  <div class="midd w-full h-full flex  text-customblue text-2xl font-medium leading-[48px] text-center">
    <h>We Guarantee the <span>Best Service </span></h>
  </div>
  <div class="rside w-[20%] flex">
    <Image src={sider} alt="Pattern 6" class="w-full" />
  </div>
</div>
