

    <!-- ========================================= -->
    <!--           Start: about section     -->
    <!-- ========================================= -->
    <div class="about_us" id="about" >
        <div class="shape1">
            <img src="sidel.svg" alt="">
        </div>
        <div class="aboutus_text">
            <h>We Guarantee the <span>Best Service</span> </h>
        </div>
        <div class="shape2">
            <img src="sider.svg" alt="">
        </div>
    </div>

    <div class="mb_herotexts">
        <h1>Your Trusted GUIDE </h1>
        <h3>to Global Education</h3>
        <p>We believe that education opens doors to a world of possibilities, and our mission is to support students in
            making informed decisions.</p>
    </div>


    <!-- ========================================= -->
    <!--           end: about section     -->
    <!-- ========================================= -->

    <div class="mb_box" id="mb_about">
        <div class="lside">
            <img src="sidel.svg" alt="">
        </div>
        <div class="midd">
            <h>We Guarantee the <span>Best Service </span></h>
        </div>
        <div class="rside">
            <img src="sider.svg" alt="">
        </div>
    </div>
