---
import { Image } from "astro:assets";

import logo1 from "@/assets/ulogo.svg";
import logo2 from "@/assets/ulogo2.svg";
import leftImg from "@/assets/Patterns.svg";
import rightImg from "@/assets/Image 1.svg";
---


<div class="hidden md:flex w-full h-[80vh] mt-4">
  <div class="flex-col flex  w-[55%] h-full text-left px-[10%] py-[5%]">
    <h1 class="text-7xl font-extrabold leading-[76.8px] text-left underline-from-font no-underline w-[80%]">
      Your Trusted Guide to
    </h1>
    <h1 class="text-5xl font-extrabold leading-[61.44px] text-left underline-from-font no-underline  text-primary">
      Global Education
    </h1>
    <p class="text-base font-normal leading-[32px] text-left underline-from-font no-underline w-[70%] text-[#536288]">
      At MentorGence, we are dedicated to providing students with trusted guidance on their journey to pursuing higher education abroad. We work closely with students, parents, and partner universities to create clear pathways to global learning opportunities.
    </p>
    <div class=" w-full h-[30%] flex items-center  gap-3 ">
  
      <h3 class="text-lg font-medium">Partnered with</h3>
      <Image src={logo1} alt="Harvard University" class="h-13" />
      <Image src={logo2} alt="University of Michigan" class="h-13" />
    </div>
    </div>
  <div class="  w-[45%]  h-full "style="background-image: url('/src/assets/images/Patterns.svg'); background-size: 55%;  background-repeat: no-repeat; background-position: left top ;">
    <Image src={rightImg} alt="Image" class=" h-full float-right" />

  </div>

</div>


<div class="flex md:hidden">
  <div class="w-full h-[60vh]  " style="background-image: url('/src/assets/images/Patterns.svg'); background-size: 80%;  background-repeat: no-repeat; background-position: left center;">
    <Image src={rightImg} alt="Image" class="w-[70%]  h-full md:mx-32 float-right" />
  </div>
</div>


