---
import logoImg from "@/assets/Group.svg";
import { Image } from "astro:assets";
---

<div>
  <div class="px-10 py-5 flex items-center justify-between">
    <div class="h-10">
      <Image src={logoImg} alt="logo" />
    </div>
    <div class="hidden md:flex items-center justify-between gap-10">
      <div class="flex items-center justif-center gap-3">
        <a href="#" class="link">Home</a>
        <a href="#" class="link">About</a>
        <a href="#" class="link">Support</a>
      </div>
      <div>
        <button class="bg-primary rounded-md px-5 py-3 text-white font-medium">
          Register Now
        </button>
      </div>
    </div>
    <div class="md:hidden">
      <button>Menu</button>
    </div>
  </div>
</div>

<style>
  .link {
    @apply text-black hover:text-blue-500 font-medium;
  }
</style>
