---
import { Image } from "astro:assets";
import arrowImg from "@/assets/XMLID 1522.svg";

interface Props {
  title: string;
  alternate?: boolean;
  url: string;
  para: string;
}

const circleStyle = Astro.props.alternate ? "bg-[#FFE8B3]" : "bg-[#B5E7E8]";
---

<div
  class={"container my-10 bg-white flex flex-col p-[10%] transition duration-1000 hover:shadow-lg hover:-translate-x-[10px] hover:-translate-y-[10px] hover:rounded-md "}
  style={`background-image: url('${Astro.props.url}'); background-repeat: no-repeat; background-position: calc(100% - 5px) center;`}
>
  <div class={"w-[70px] h-[70px] mb-[10%] rounded-full " + circleStyle}></div>
  <h3 class="text-[24px] font-medium leading-[28.8px] text-black">
    {Astro.props.title}
  </h3>
  <p class="text-[14px] text-gray-600">{Astro.props.para}</p>

</div>
