---
import { Image } from "astro:assets";

import patternImg from "@/assets/Pattern 3.svg";
import pattern2Img from "@/assets/Pattern 4.svg";
---

<div class="mb_whyus">
  <h>Why choose <span>Mentorgence?</span></h>
</div>

<div class="mb_service_list">
  <div class="sbox on" style="background: #F5F9FE;">
    <div class="circle" style="background: #B5E7E8;"></div>
    <h3>Ethical Guidance</h3>
    <div class="go"><img src="XMLID 1522.svg" alt="" /></div>
  </div>
  <div class="sbox of" style="    background: #ffffff;">
    <div class="circle" style="background: #FFE8B3;"></div>
    <h3>Focus on Student Success</h3>
    <div class="go"><img src="XMLID 1522.svg" alt="" /></div>
  </div>
  <div class="sbox on" style="    background: #F5F9FE;">
    <div class="circle" style="background: #DDD5FE;"></div>
    <h3>Authorized University Agent</h3>
    <div class="go"><img src="XMLID 1522.svg" alt="" /></div>
  </div>
  <div class="sbox of" style="    background: #ffffff;">
    <div class="circle" style="background: #FFE8B3;"></div>
    <h3>Transparent Services</h3>
    <div class="go"><img src="XMLID 1522.svg" alt="" /></div>
  </div>
  <div class="sbox" style="    background: #F5F9FE;">
    <div class="circle" style="background: #B5E7E8;"></div>
    <h3>Comprehensive Support</h3>
    <div class="go"><img src="XMLID 1522.svg" alt="" /></div>
  </div>
</div>

<div class="service" id="careers">
  <div class="service_container">
    <div class="title">
      <h3>Why choose <span>Mentorgence?</span></h3>

      <Image src={patternImg} alt="pattern 3" />
    </div>
    <div class="service_list">
      <div class="sbox off"></div>
      <div class="sbox onn" style="background: #F5F9FE;">
        <div class="circle" style="background: #B5E7E8;"></div>
        <h3>Ethical Guidance</h3>
        <div class="go"><img src="XMLID 1522.svg" alt="" /></div>
      </div>
      <div class="sbox onn" style="    background: #ffffff;">
        <div class="circle" style="background: #FFE8B3;"></div>
        <h3>Focus on Student Success</h3>
        <div class="go"><img src="XMLID 1522.svg" alt="" /></div>
      </div>
      <div class="sbox onn" style="    background: #F5F9FE;">
        <div class="circle" style="background: #DDD5FE;"></div>
        <h3>Authorized University Agent</h3>
        <div class="go"><img src="XMLID 1522.svg" alt="" /></div>
      </div>
      <div class="sbox onn" style="    background: #ffffff;">
        <div class="circle" style="background: #FFE8B3;"></div>
        <h3>Transparent Services</h3>
        <div class="go"><img src="XMLID 1522.svg" alt="" /></div>
      </div>
      <div class="sbox onn" style="    background: #F5F9FE;">
        <div class="circle" style="background: #B5E7E8;"></div>
        <h3>Comprehensive Support</h3>
        <div class="go"><img src="XMLID 1522.svg" alt="" /></div>
      </div>
    </div>
  </div>
  <div class="p4">
    <Image src={pattern2Img} alt="Pattern 2" />
  </div>
</div>
