
<div class="howwework">
    <div class="topl">
        <img src="image-removebg-preview.png" alt="">
    </div>
    <div class="topr">
        <h2>How We <span>works</span></h2>
    </div>
</div>
<div class="worklist">
    <div class="bx">
        <div class="circle" style="background: #FFE8B3  ; margin-left:10%; "></div>
        <h3>Values</h3>
        <p>Integrity, commitment, and student success are our core values.</p>
    </div>
    <div class="bx">
        <div class="circle" style="background: #ECE5FF;margin-left:10%;"></div>
        <h3>Mission</h3>
        <p>We guide students to make informed choices for higher education.</p>
    </div>
    <div class="bx">
        <div class="circle" style="background: #CBF9F7; margin-left:10%; "></div>
        <h3>Focus</h3>
        <p>Helping students secure placements in top global universities.</p>
    </div>
</div>

<div class="whysection">
    <div class="top">
        <h2>Our <span>Values</span> and <span>Mission </span></h2>
    </div>
    <div class="middile">
        <div class="ybox" id="one">
            <div class="circle" id="q" style="background: #FFE8B3;"></div>
            <h3>Values</h3>
            <p>Integrity, commitment, and student success are our core values.</p>

        </div>
        <div class="ybox" id="two">
            <div class="circle" style="background: #DDD5FE;"></div>
            <h3>Mission</h3>
            <p>We guide students to make informed choices for higher education.</p>
        </div>
        <div class="ybox" id="three">
            <div class="circle" style="background: #B5E7E8;"></div>
            <h3>Focus</h3>
            <p>Helping students secure placements in top global universities.</p>
        </div>
    </div>
    <div class="bottom">

    </div>
</div>